<!DOCTYPE HTML>
<html>
    <head>
        {% block head %}
        <title>{% block title %}Battlehack Infinitive Box{% endblock %}</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />

        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/dashboard/all.css') }}">
        <!--[if lt IE 9]><link rel="stylesheet" type="text/css" href="{{ asset('css/dashboard/ie.css') }}" /><![endif]-->

        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="{{ asset('js/dashboard.js') }}"></script>

        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
        <script type="text/javascript" async="" src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </head>
<body>
<script class="esocketjs" type="text/javascript" src="http://api.easysocket.io/easysocket.js?apiKey=d2974fc0-cda0-11e3-92f9-b7100c56906d&amp;callback=usesocket"></script>
{% verbatim %}
<script>
function usesocket() {
    esocket.on('message', function (message) {
        console.log(message);
        $('#form_uniqid').val(message.id);
        $('#myModal').modal('show');
    });

    //
    $('#submitButton').click(function() {
        $('#submitButton').addClass('disabled').text('Please wait...');
        $.ajax({
          type: "POST",
          url: "{% endverbatim %}{{ path('battlehack_box_card_api_add') }}{% verbatim %}",
          data: {
            'name': $('#form_name').val(),
            'email': $('#form_email').val(),
            'uniqid': $('#form_uniqid').val(),
          },
          success: function() {
            $('#myModal').modal('hide');
          }
        });
    });
}
</script>
{% endverbatim %}

<div id="myModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- dialog body -->
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <form role="form">
          <div class="form-group">
            <label>Card ID</label>
            <input type="email" class="form-control" id="form_uniqid" name="uniqid" disabled="disabled">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="form_email" name="email" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" id="form_name" name="name" placeholder="Name">
          </div>
          <button type="submit" class="btn btn-default" id="submitButton">Add</button>
        </form>
      </div>
    </div>
  </div>
</div>

    {% block content %}
    <div id="wrapper">
        <div id="content">
            <div class="c1">
                <div class="controls">
                    <nav class="links">
                        <ul>
                            <!-- <li><a href="#" class="ico2">New Users <span class="num">5</span></a></li> -->
                        </ul>
                    </nav>
                    <div class="profile-box">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <span class="profile">
                                <a href="#" class="section">
                                    <span class="text-box">
                                        Welcome
                                        <strong class="name">{{ app.user.username }}</strong>
                                    </span>
                                </a>
                            </span>
                            <a href="{{ path('fos_user_security_logout') }}" class="btn-on">On</a>
                        {% else %}
                            <a style="border-radius: 2em;" href="{{ path('fos_user_security_login') }}" class="button form">Login</a>
                        {% endif %}
                    </div>
                </div>
                {% block page %}
                <div class="tabs">
                    <div id="main" class="tab">
                        <article>
                            <div class="text-section">
                                <h1>Dashboard</h1>
                                <p>InfinitiveBox - A wireless connected hardware box with endless possibilities.</p>
                            </div>
                        </article>
                    </div>
                </div>
                {% endblock %}
            </div>
        </div>
        <aside id="sidebar">
            <strong class="logo"><a href="{{ url('battlehack_box_dashboard_index') }}">InfinitiveBox</a></strong>
            {% block sidebar %}
            <ul class="tabset buttons">
                <li class="active">
                    <a href="#main" class="ico1"><span>Dashboard</span><em></em></a>
                    <span class="tooltip"><span>Dashboard</span></span>
                </li>
                <li>
                    <a href="{{ url('battlehack_box_dashboard_apps') }}" class="ico4"><span>Apps</span><em></em></a>
                    <span class="tooltip"><span>Applications</span></span>
                </li>
                <li>
                    <a href="{{ url('battlehack_box_dashboard_users') }}" class="ico2"><span>Users</span><em></em></a>
                    <span class="tooltip"><span>View &amp; Edit Users</span></span>
                </li>
                <li>
                    <a href="{{ url('battlehack_box_dashboard_card') }}" class="ico2"><span>Register</span><em></em></a>
                    <span class="tooltip"><span>Register New User</span></span>
                </li>
            </ul>
            {% endblock %}
            <span class="shadow"></span>
        </aside>
    </div>
    {% endblock %}
</body>
</html>