{% extends 'BattlehackBoxMainBundle::Dashboard/layout/layout.html.twig' %}

{% block title %} Applications - Battlehack Infinitive Box {% endblock %}

{% block page %}
<div class="tabs">
    <div id="apps" class="tab">
        <article>
            <div class="text-section">
                <h1>Applications</h1>
                <div class="row">
                    {% for capp in apps %}
                        <div class="col-md-4">
                            <img src="{{ asset('images/dashboard') }}/{{ capp.logo }}" height="75px">
                            <h4 class="panel" style="{% if capp == app.user.app %}font-weight: bold{% endif %}">{{ capp.name }}</h4>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </article>
    </div>
</div>

{% endblock %}

{% block sidebar %}
<ul class="tabset buttons">
    <li>
        <a href="{{ url('battlehack_box_dashboard_index') }}" class="ico1"><span>Dashboard</span><em></em></a>
        <span class="tooltip"><span>Dashboard</span></span>
    </li>
    <li class="active">
        <a href="#" class="ico4"><span>Apps</span><em></em></a>
        <span class="tooltip"><span>Applications</span></span>
    </li>
    <li>
        <a href="{{ url('battlehack_box_dashboard_users') }}" class="ico2"><span>Users</span><em></em></a>
        <span class="tooltip"><span>View &amp; Edit Users</span></span>
    </li>
    <li>
        <a href="{{ url('battlehack_box_dashboard_card') }}" class="ico2"><span>Register</span><em></em></a>
        <span class="tooltip"><span>Register New User</span></span>
    </li>
</ul>
{% endblock %}