{% extends 'BattlehackBoxMainBundle::Dashboard/layout/layout.html.twig' %}

{% block title %} Applications - Battlehack Infinitive Box {% endblock %}

{% block page %}
<div class="tabs">
    <div id="apps" class="tab">
        <article>
            <div class="text-section">
                <h1>Applications</h1>
                <p>
                    <ul>
                        {% for card in cards %}
                            <li>{{ card.name }}</li>
                        {% endfor %}
                    </ul>
                </p>
            </div>
        </article>
    </div>
</div>

{% endblock %}

{% block sidebar %}
<ul class="tabset buttons">
    <li>
        <a href="{{ url('battlehack_box_dashboard_index') }}" class="ico1"><span>Dashboard</span><em></em></a>
        <span class="tooltip"><span>Dashboard</span></span>
    </li>
    <li>
        <a href="{{ url('battlehack_box_dashboard_apps') }}" class="ico4"><span>Apps</span><em></em></a>
        <span class="tooltip"><span>Applications</span></span>
    </li>
    <li class="active">
        <a href="{{ url('battlehack_box_dashboard_users') }}" class="ico2"><span>Users</span><em></em></a>
        <span class="tooltip"><span>View &amp; Edit Users</span></span>
    </li>
    <li>
        <a href="{{ url('battlehack_box_dashboard_card') }}" class="ico2"><span>Register</span><em></em></a>
        <span class="tooltip"><span>Register New User</span></span>
    </li>
</ul>
{% endblock %}