{% extends 'BattlehackBoxMainBundle::layout.html.twig' %}

{% block title %} Login {% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block header %}
{% endblock header %}

{% block body %}

<article class="container box style3">
    <header>
        <h2>Signup</h2>
    </header>

    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ 'registration.submit'|trans }}" />
        </div>
    </form>

</article>

{% endblock body %}
