{% extends 'BattlehackBoxMainBundle::layout.html.twig' %}

{% block title %} Login {% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block header %}
{% endblock header %}

{% block body %}

<article class="container box style3">
    <header>
        <h2>Signin</h2>
    </header>
    {% if error %}
        <div>{{ error|trans }}</div>
    {% endif %}
    <center>
        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <div>
                <div class="6u"><input type="text" id="username" name="_username" class="text" name="name" required="required"  placeholder="User Name" /></div>
            </div>
            <br/>
            <div>
                <div class="6u"><input type="password" id="password" name="_password" class="text" name="email" required="required"  placeholder="Password" /></div>
            </div>
            <div>
                <div class="6u">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me">Remember me</label>
                </div>
            </div>
            <div class="row">
                <div class="12u">
                    <ul class="actions">
                        <li>
                            <input type="submit" id="_submit" name="_submit" class="button form button_" value="Login" />
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </center>
</article>

{% endblock body %}
