<!DOCTYPE HTML>
<html>
	<head>
		{% block head %}
		<title>{% block title %}InfiniteBox{% endblock %}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic" rel="stylesheet" type="text/css" />

		<script src="{{ asset('js/jquery.min.js') }}" type="text/javascript"></script>
		<script src="{{ asset('js/jquery.poptrox.min.js') }}" type="text/javascript"></script>
		<script src="{{ asset('js/skel.min.js') }}" type="text/javascript"></script>
		<script src="{{ asset('js/init.js') }}" type="text/javascript"></script>

		<!--[if lte IE 8]><script src="{{ asset('js/html5shiv.js') }}" type="text/javascript"></script><![endif]-->

		<noscript>
			<link rel="stylesheet" href="{{ asset('css/skel-noscript.css') }}" />
			<link rel="stylesheet" href="{{ asset('css/style.css') }}" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ asset('css/ie/v8.css') }}" /><![endif]-->

		<!-- <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">-->
		<!-- <script type="text/javascript" async="" src="{{ asset('js/bootstrap.min.js') }}"></script>-->
		{% endblock %}
	</head>
<body>

	<script type="text/javascript">
		var _settings = {

		// Full screen header
			useFullScreenHeader: true,

		// Parallax Background
			useParallax: true,
			parallaxFactor: 10,	// Lower = more intense. Higher = less intense.
			parallaxLimit: 1680,	// Performance tweak: turns off parallax if the viewport width exceeds this value

		// skelJS
			skelJS: {
				prefix: "{{ asset ('css/style')}}",
				resetCSS: true,
				boxModel: 'border',
				useOrientation: true,
				containers: 1140,
				grid: {
					gutters: 40
				},
				breakpoints: {
					'widest': { range: '*', containers: 1140, hasStyleSheet: false },
					'wide': { range: '-1680', containers: 960 },
					'normal': { range: '-1080', containers: '95%' },
					'narrow': { range: '-840', containers: '95%', grid: { gutters: 30 } },
					'mobile': { range: '-640', lockViewport: true, containers: '95%', grid: { collapse: true, gutters: 20 } }
				}
			},

		// poptrox
			poptrox: {
				useBodyOverflow: false,
				usePopupEasyClose: false,
				overlayColor: '#0a1919',
				overlayOpacity: 0.75,
				usePopupDefaultStyling: false,
				usePopupCaption: true,
				popupLoaderText: '',
				windowMargin: 10,
				usePopupNav: true
			}

	};

/*********************************************************************************/
/* jQuery Plugins                                                                */
/*********************************************************************************/

	// formerize
		jQuery.fn.n33_formerize=function(){var _fakes=new Array(),_form = jQuery(this);_form.find('input[type=text],textarea').each(function() { var e = jQuery(this); if (e.val() == '' || e.val() == e.attr('placeholder')) { e.addClass('formerize-placeholder'); e.val(e.attr('placeholder')); } }).blur(function() { var e = jQuery(this); if (e.attr('name').match(/_fakeformerizefield$/)) return; if (e.val() == '') { e.addClass('formerize-placeholder'); e.val(e.attr('placeholder')); } }).focus(function() { var e = jQuery(this); if (e.attr('name').match(/_fakeformerizefield$/)) return; if (e.val() == e.attr('placeholder')) { e.removeClass('formerize-placeholder'); e.val(''); } }); _form.find('input[type=password]').each(function() { var e = jQuery(this); var x = jQuery(jQuery('<div>').append(e.clone()).remove().html().replace(/type="password"/i, 'type="text"').replace(/type=password/i, 'type=text')); if (e.attr('id') != '') x.attr('id', e.attr('id') + '_fakeformerizefield'); if (e.attr('name') != '') x.attr('name', e.attr('name') + '_fakeformerizefield'); x.addClass('formerize-placeholder').val(x.attr('placeholder')).insertAfter(e); if (e.val() == '') e.hide(); else x.hide(); e.blur(function(event) { event.preventDefault(); var e = jQuery(this); var x = e.parent().find('input[name=' + e.attr('name') + '_fakeformerizefield]'); if (e.val() == '') { e.hide(); x.show(); } }); x.focus(function(event) { event.preventDefault(); var x = jQuery(this); var e = x.parent().find('input[name=' + x.attr('name').replace('_fakeformerizefield', '') + ']'); x.hide(); e.show().focus(); }); x.keypress(function(event) { event.preventDefault(); x.val(''); }); });  _form.submit(function() { jQuery(this).find('input[type=text],input[type=password],textarea').each(function(event) { var e = jQuery(this); if (e.attr('name').match(/_fakeformerizefield$/)) e.attr('name', ''); if (e.val() == e.attr('placeholder')) { e.removeClass('formerize-placeholder'); e.val(''); } }); }).bind("reset", function(event) { event.preventDefault(); jQuery(this).find('select').val(jQuery('option:first').val()); jQuery(this).find('input,textarea').each(function() { var e = jQuery(this); var x; e.removeClass('formerize-placeholder'); switch (this.type) { case 'submit': case 'reset': break; case 'password': e.val(e.attr('defaultValue')); x = e.parent().find('input[name=' + e.attr('name') + '_fakeformerizefield]'); if (e.val() == '') { e.hide(); x.show(); } else { e.show(); x.hide(); } break; case 'checkbox': case 'radio': e.attr('checked', e.attr('defaultValue')); break; case 'text': case 'textarea': e.val(e.attr('defaultValue')); if (e.val() == '') { e.addClass('formerize-placeholder'); e.val(e.attr('placeholder')); } break; default: e.val(e.attr('defaultValue')); break; } }); window.setTimeout(function() { for (x in _fakes) _fakes[x].trigger('formerize_sync'); }, 10); }); return _form; };

	// scrolly
		jQuery.fn.n33_scrolly = function(offset) {				
			
			jQuery(this).click(function(e) {
				var t = jQuery(this), h = t.attr('href'), target;

				if (h.charAt(0) == '#' && h.length > 1 && (target = jQuery(h)).length > 0)
				{
					var x, pos;
					
					x = target.offset().top;
					
					if (t.hasClass('scrolly-centered'))
						pos = x - (($(window).height() - target.outerHeight()) / 2);
					else
					{
						pos = Math.max(x, 0);
						
						if (offset)
						{
							if (typeof(offset) == 'function')
								pos -= (offset)();
							else
								pos -= offset;
						}
					}
					
					e.preventDefault();
					
					jQuery('body,html').animate({ scrollTop: pos }, 1000, 'swing');
				}
			});
		};

/*********************************************************************************/
/* Initialize                                                                    */
/*********************************************************************************/

	// skelJS
		skel.init(_settings.skelJS);

	// jQuery
		jQuery(function() {

			var	$window = $(window),
				$body = $('body');

			// Scrolly links
				$('.scrolly').n33_scrolly(function() {
					return (skel.isActive('mobile') ? 70 : 190);
				});

			// Forms
				if (skel.vars.IEVersion < 10)
					$('form').n33_formerize();

			// Full Screen Header
				if (_settings.useFullScreenHeader)
				{
					var $header = $('#header');
					
					if ($header.length > 0)
					{
						var $header_header = $header.find('header');
						
						$window
							.on('resize.overflow_fsh', function() {
								if (skel.isActive('mobile'))
									$header.css('padding', '');
								else
								{
									var p = Math.max(192, ($window.height() - $header_header.outerHeight()) / 2);
									$header.css('padding', p + 'px 0 ' + p + 'px 0');
								}
							})
							.trigger('resize.overflow_fsh');
							
						$window.load(function() {
							$window.trigger('resize.overflow_fsh');
						});
					}
				}
				
			// Parallax Background
				if (_settings.useParallax)
				{
					var $dummy = $(), $bg;
				
					$window
						.on('scroll.overflow_parallax', function() {
							$bg.css('background-position', 'center ' + (-1 * (parseInt($window.scrollTop()) / _settings.parallaxFactor)) + 'px');
						})
						.on('resize.overflow_parallax', function() {
							if ($window.width() > _settings.parallaxLimit
							||	skel.isActive('narrow'))
							{
								$body.css('background-position', '');
								$bg = $dummy;
							}
							else
								$bg = $body;
						})
						.trigger('resize.overflow_parallax');

					// IE's smooth scroll kind of screws this up, so we have to turn it off.
						if (skel.vars.IEVersion < 11)
							$window.unbind('scroll.overflow_parallax');
				}
				
			// Poptrox
			
				if (skel.vars.IEVersion < 9)
					_settings.poptrox.overlayOpacity = 0;
			
				$('.gallery').poptrox(_settings.poptrox);

		});
	</script>
    {% block header %}
	<section id="header">
		<div style="right:5px;top:5px;position:absolute;">
	        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	            {{ app.user.username }} |
	            <a style="border-radius: 2em;padding-top: 6px;padding-bottom:6px;margin-bottom:3px;" href="{{ path('fos_user_security_logout') }}" class="button form">Logout</a>
	        {% else %}
	        	<a style="border-radius: 2em;padding-top: 6px;padding-bottom:6px;margin-bottom:3px;" href="{{ path('fos_user_security_login') }}" class="button form">Login</a>
	        	<a style="border-radius: 2em;padding-top: 6px;padding-bottom:6px;margin-bottom:3px;" href="{{ app.request.getBaseURL() }}/register" class="button form">Register</a>
	        {% endif %}
	    </div>
		<header>
			<h1>InfiniteBox</h1>
			<p>A wireless connected hardware box with endless possibilities.</p>
		</header>
		<footer>
			<a href="#banner" class="button style2 scrolly scrolly-centered">More Info</a>
		</footer>
	</section>
	{% endblock %}

	{% block body %}
	<!-- Banner -->
	<section id="banner">
		<header>
			<h2>What is InfiniteBox</h2>
		</header>
		<p>It uses <b>Raspberry PI</b> with <b>NFC - LCD</b> screen.</p>
		<p>First the owner of the device will choose its behavior using the dashboard and place it in a safe place.</p>
		<p>Other folks will come to that place and tap their cards and a <b>RESTfull API</b> will process the card, take the chosen action.</p>
		<p>At the end the output will be displayed on the screen.</p>
		<img src="{{ asset('images/product_image01.jpg') }}" height="450px" />
		<footer style="margin-top:0">
			<a href="#banner2" class="button style2 scrolly scrolly-centered">Next</a>
		</footer>
	</section>

	<section id="banner2">
		<header>
			<h2>Techs we used</h2>
		</header>
		<br />
		<img src="{{ asset('images/paypal_tr.png') }}" height="200px" /><br/>
		<img src="{{ asset('images/pi_tr.png') }}" height="200px" />
		<img src="{{ asset('images/nfc_tr.png') }}" height="200px" />
		<img src="{{ asset('images/symfony_tr.png') }}" height="200px" />
		<img src="{{ asset('images/websocket_tr.png') }}" height="200px" />
		<img src="{{ asset('images/python_tr.png') }}" height="200px" />
		<img src="{{ asset('images/sendgrid_tr.png') }}" height="200px" />
		<footer style="margin-top:1em;">
			<a href="#first" class="button style2 scrolly scrolly-centered">Built-in Apps</a>
		</footer>
	</section>

	<!-- Feature 1 -->
	<article id="first" class="container box style1 left">
		<div class="other">
			<header>
				<h2>Co-worker Space</h2>
			</header>
			<p>Timing begins when a subscriber arrives in your space and tap his card. He spends time. When he leaves he taps again and the price is calculated and charged from his PayPal account.</p>
		</div>
		<div class="inner">
			<header>
				<h2>Arcade Center</h2>
			</header>
			<p>Arcade will give cards to the players. Players use this card to play games. When tehy leave they will pay the amount they played using their Paypal accounts.</p>
		</div>
	</article>

	<!-- Feature 2 -->
	<article class="container box style1 left">
		<div class="other">
			<header>
				<h2>Draw</h2>
			</header>
			<p>Attendes in an event will tap their nfc enabled badges. At the end of the day the winners will be randomly selected and informed using SendGrid API.</p>
		</div>
		<div class="inner">
			<header>
				<h2>First 25 Attandees</h2>
			</header>
			<p>Attendes in an event will get their badges when they checkin. The first 25 attandees who tap their badges will win prize</p>
		</div>
	</article>

	<!-- Feature 3 -->
	<article class="container box style1 left">
		<div class="other">
			<header>
				<h2>Entrance Acccess</h2>
			</header>
			<p>Companies can use our system as an entrance system. Employees of this company will use their cards to enter to the building.</p>
		</div>
		<div class="inner">
			<header>
				<h2>Custom Url</h2>
			</header>
			<p>This where the rest of endless posibilities are. It's up to you. You can provide a callback url in your dashboard. Users will tap thier cards and this url will be called with the id of the card and the output will be displayed on the screen.</p>
		</div>
	</article>

	<article class="container box style2" id="team">
		<header>
			<h2>Team</h2>
		</header>
		<div class="inner gallery">
			<div class="row flush">
				<div class="6u"><a href="images/farhad.jpg" class="image full"><img src="{{ asset('images/farhad.jpg') }}" alt="" title="Farhad" /></a></div>
				<div class="6u"><a href="images/emin.jpg" class="image full"><img src="{{ asset('images/emin.jpg') }}" alt="" title="Emin Mastizada" /></a></div>
			</div>
			<div class="row flush">
				<div class="6u"><a href="images/hasan.jpg" class="image full"><img src="{{ asset('images/hasan.jpg') }}" alt="" title="Hasan Keklik" /></a></div>
				<div class="6u"><a href="images/taso.jpg" class="image full"><img src="{{ asset('images/taso.jpg') }}" alt="" title="Said Tahsin Dane" /></a></div>
			</div>
		</div>
	</article>

	<!-- Contact -->
	<article class="container box style3">
		<header>
			<h2>Contact Us</h2>
			<p>Send what you think about us</p>
		</header>
		<form method="post" id="myForm">
			<div class="row half">
				<div class="6u"><input type="text" class="text" name="name" placeholder="Name" /></div>
				<div class="6u"><input type="text" class="text" name="email" placeholder="Email" /></div>
			</div>
			<div class="row half">
				<div class="12u">
					<textarea name="message" placeholder="Message"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="12u">
					<ul class="actions">
						<li><a href="#" class="button form" onclick="document.getElementById('myForm').submit();return false;">Send Message</a></li>
					</ul>
				</div>
			</div>
		</form>
	</article>
	{% endblock %}

	{% block footer %}
	<section id="footer">
		<ul class="icons">
			<li><a href="#" class="fa fa-twitter solo"><span>Twitter</span></a></li>
			<li><a href="#" class="fa fa-facebook solo"><span>Facebook</span></a></li>
			<li><a href="#" class="fa fa-google-plus solo"><span>Google+</span></a></li>
			<li><a href="#" class="fa fa-pinterest solo"><span>Pinterest</span></a></li>
			<li><a href="#" class="fa fa-dribbble solo"><span>Dribbble</span></a></li>
			<li><a href="#" class="fa fa-linkedin solo"><span>LinkedIn</span></a></li>
		</ul>
		<div class="copyright">
			<ul class="menu">
				<li>&copy; InfiniteBox. All rights reserved.</li>
			</ul>
		</div>
	</section>
	{% endblock %}
</body>
</html>